.footer {
  align-items: center;
  background-color: #212e35;
  display: flex;
  height: 100px;
  width: 100%;
  margin-bottom: 0px !important;
}

.footer a {
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}