@import "./Vars.scss";
.header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  color:$third-color;
}

.header__img {
  margin-left: 10px;
  width: 200px;
}

.header__menu {
	margin-right: 30px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

.header__menu:hover ul, ul:hover {
	display: block;
}

.menu__img{
  border-radius: 50%;
  width: 3em;
}