@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

$theme-font: 'Press Start 2P', sans-serif;
$main-color:#2935ce;
$secondary-color: #000000;
$third-color:#FFFFFF;
$danger-color:#ff0000;
$tinny-size:12px;
$main-size:15px;
$medium-size:19px;
$max-size:22px;
